<section class="top-bar animated-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="{{ .Site.BaseURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navigation">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a>
							</li>
							{{ range .Site.Menus.main }}
							<li class="nav-item">
								<a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
							</li>
							{{ end }}
							<li class="nav-item" style="background-color: green;
							display: flex;
							justify-content: center;
							padding: 0em .5em;">
								<a class="nav-link" style="padding-left: 0;
								color: white !important;" href="https://www.paypal.com/donate?token=Plnrkn0P3z0oBK13TT551N5K-z6f0-UVyZkrMG3XDB76lFgyG0OhCjNF_HG8nlkXE69xNT_mnD0YKgmY">Donate</a>
							</li>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>