{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.service.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
	<div class="container">
		<!--<div class="row">
			<div class="col-lg-6">
				{{ with .Site.Data.service.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s"
					data-wow-duration="500ms">{{ . }}</h2>{{ end }}
				{{ with .Site.Data.service.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s"
					data-wow-duration="500ms">{{ . }}</p>{{ end }}
			</div>
		</div>-->
		<div class="row">
			<div class="col-lg-6 order-2 order-lg-1">
				<!--<div class="block">
					<div class="row service-parts">
						{{ range .Site.Data.service.serviceItem }}
						<div class="col-md-6">
							<div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
								{{ with .icon }}<i class="{{ . }}"></i>{{ end }}
								{{ with .title }}<h4>{{ . }}</h4>{{ end }}
								{{ with .description }}<p>{{ . }}</p>{{ end }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>-->
				<br>
				<br>
				<br>
				<p style="line-height:1.8"> One of the big things we offer is a course on investing. Written by the founder, Kavin Sampath, you can complete the entire course with no prior knowledge in only 2 hours. The course itself covers everything from the basics in how the market itself works to the ways you can analyze and buy stocks.<p>
			</div>
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="block">
					<a href="https://www.udemy.com/course/fundamentals-of-investing-learn-stock-and-options-basics/?referralCode=C0DA042A61F152DBCDA2" target="_blank" rel="noopener noreferrer" >
						<img class="img-fluid" src="https://img-c.udemycdn.com/course/480x270/4096722_f946_3.jpg" alt="about-image">
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 order-1 order-lg-1">
				<div class="block">
					<img class="img-fluid" src="https://i.imgur.com/i8U0XHK.jpg" alt="about-image">
				</div>
			</div>
			<div class="col-lg-6 order-2 order-lg-2">
				<!--<div class="block">
					<div class="row service-parts">
						{{ range .Site.Data.service.serviceItem }}
						<div class="col-md-6">
							<div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
								{{ with .icon }}<i class="{{ . }}"></i>{{ end }}
								{{ with .title }}<h4>{{ . }}</h4>{{ end }}
								{{ with .description }}<p>{{ . }}</p>{{ end }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>-->
				<br>
				<br>
				<br>
				<p> Our club itself uses a detailed strategy to buy stocks that we call the "Bullseye" Strategy. The bullseye strategy uses ten factors (5 quantitative and 5 qualitative) to evaluate how good a stock will perform. Each factor is assigned a value from 1-5 by our team of analysts. The lower the value, the better because it brings a stock closer to the bullseye.  <p>
			</div>
		</div>
	</div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}
